{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>{{ ui.home_title }}</h1>
    <div class="tile-container">
        {% for food in foods %}
            <a href="/food/{{ food.id }}" class="tile">
                <img src="{{ url_for('static', filename='images/' + food.image_filename) if food.image_filename else url_for('static', filename='images/default.jpg') }}" alt="{{ food['name_' + current_lang] }}">
                <div class="tile-caption">
                    <h3>{{ food['name_' + current_lang] }}</h3>
                </div>
            </a>
        {% endfor %}
    </div>
{% endblock %}